.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
  position: fixed;
  width: 100%;
  z-index: 3;

  ul {
    list-style: none;
    overflow: hidden;
    background-color: #fff;
    flex-direction: column;
    display: flex;
    box-sizing: border-box;
    padding: 0 15px;
  }

  ul > li {
    margin: 10px 0;
    max-width: 768px;
    display: flex;
    align-content: center;
  }

  ul > li > a {
    color: #0777ba;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 2px solid #0777ba;
  }
}


.header li a:hover,
.header .menu-btn:hover {
  background: #e6ecf1;
  border-radius: 2px;
}

.header li {
  padding: 3px;
}

.header li:hover {
  background: #e6ecf1;

}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 15px 20px;
  text-decoration: none;
}


/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #0777ba;
  display: block;
  height: 3px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #0777ba;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 320px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
